.h1 {
  font-size: 64px;
  line-height: 120%;
  font-weight: bold;
}

.h2 {
  font-size: 48px;
  line-height: 120%;
  font-weight: bold;
}

.h3 {
  font-size: 32px;
  line-height: 120%;
  font-weight: bold;
}

.h4 {
  font-size: 24px;
  line-height: 120%;
  font-weight: bold;
}

.h5 {
  font-size: 20px;
  line-height: 120%;
  font-weight: bold;
}

.h6 {
  font-size: 16px;
  line-height: 120%;
  font-weight: bold;
} /* 4px */
.m-4 {
  margin: 4px;
}
.mt-4 {
  margin-top: 4px;
}
.mb-4 {
  margin-bottom: 4px;
}
.ml-4 {
  margin-left: 4px;
}
.mr-4 {
  margin-right: 4px;
}

.p-4 {
  padding: 4px;
}
.pt-4 {
  padding-top: 4px;
}
.pb-4 {
  padding-bottom: 4px;
}
.pl-4 {
  padding-left: 4px;
}
.pr-4 {
  padding-right: 4px;
}

/* 8px */
.m-8 {
  margin: 8px;
}
.mt-8 {
  margin-top: 8px;
}
.mb-8 {
  margin-bottom: 8px;
}
.ml-8 {
  margin-left: 8px;
}
.mr-8 {
  margin-right: 8px;
}

.p-8 {
  padding: 8px;
}
.pt-8 {
  padding-top: 8px;
}
.pb-8 {
  padding-bottom: 8px;
}
.pl-8 {
  padding-left: 8px;
}
.pr-8 {
  padding-right: 8px;
}

/* 12px */
.m-12 {
  margin: 12px;
}
.mt-12 {
  margin-top: 12px;
}
.mb-12 {
  margin-bottom: 12px;
}
.ml-12 {
  margin-left: 12px;
}
.mr-12 {
  margin-right: 12px;
}

.p-12 {
  padding: 12px;
}
.pt-12 {
  padding-top: 12px;
}
.pb-12 {
  padding-bottom: 12px;
}
.pl-12 {
  padding-left: 12px;
}
.pr-12 {
  padding-right: 12px;
}

/* 16px */
.m-16 {
  margin: 16px;
}
.mt-16 {
  margin-top: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}
.ml-16 {
  margin-left: 16px;
}
.mr-16 {
  margin-right: 16px;
}

.p-16 {
  padding: 16px;
}
.pt-16 {
  padding-top: 16px;
}
.pb-16 {
  padding-bottom: 16px;
}
.pl-16 {
  padding-left: 16px;
}
.pr-16 {
  padding-right: 16px;
}

/* 24px */
.m-24 {
  margin: 24px;
}
.mt-24 {
  margin-top: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}
.ml-24 {
  margin-left: 24px;
}
.mr-24 {
  margin-right: 24px;
}

.p-24 {
  padding: 24px;
}
.pt-24 {
  padding-top: 24px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pl-24 {
  padding-left: 24px;
}
.pr-24 {
  padding-right: 24px;
}

/* 32px */
.m-32 {
  margin: 32px;
}
.mt-32 {
  margin-top: 32px;
}
.mb-32 {
  margin-bottom: 32px;
}
.ml-32 {
  margin-left: 32px;
}
.mr-32 {
  margin-right: 32px;
}

.p-32 {
  padding: 32px;
}
.pt-32 {
  padding-top: 32px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pl-32 {
  padding-left: 32px;
}
.pr-32 {
  padding-right: 32px;
}

/* 40px */
.m-40 {
  margin: 40px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.ml-40 {
  margin-left: 40px;
}
.mr-40 {
  margin-right: 40px;
}

.p-40 {
  padding: 40px;
}
.pt-40 {
  padding-top: 40px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pl-40 {
  padding-left: 40px;
}
.pr-40 {
  padding-right: 40px;
}

/* 48px */
.m-48 {
  margin: 48px;
}
.mt-48 {
  margin-top: 48px;
}
.mb-48 {
  margin-bottom: 48px;
}
.ml-48 {
  margin-left: 48px;
}
.mr-48 {
  margin-right: 48px;
}

.p-48 {
  padding: 48px;
}
.pt-48 {
  padding-top: 48px;
}
.pb-48 {
  padding-bottom: 48px;
}
.pl-48 {
  padding-left: 48px;
}
.pr-48 {
  padding-right: 48px;
}

/* 56px */
.m-56 {
  margin: 56px;
}
.mt-56 {
  margin-top: 56px;
}
.mb-56 {
  margin-bottom: 56px;
}
.ml-56 {
  margin-left: 56px;
}
.mr-56 {
  margin-right: 56px;
}

.p-56 {
  padding: 56px;
}
.pt-56 {
  padding-top: 56px;
}
.pb-56 {
  padding-bottom: 56px;
}
.pl-56 {
  padding-left: 56px;
}
.pr-56 {
  padding-right: 56px;
}

/* 64px */
.m-64 {
  margin: 64px;
}
.mt-64 {
  margin-top: 64px;
}
.mb-64 {
  margin-bottom: 64px;
}
.ml-64 {
  margin-left: 64px;
}
.mr-64 {
  margin-right: 64px;
}

.p-64 {
  padding: 64px;
}
.pt-64 {
  padding-top: 64px;
}
.pb-64 {
  padding-bottom: 64px;
}
.pl-64 {
  padding-left: 64px;
}
.pr-64 {
  padding-right: 64px;
}

/* 80px */
.m-80 {
  margin: 80px;
}
.mt-80 {
  margin-top: 80px;
}
.mb-80 {
  margin-bottom: 80px;
}
.ml-80 {
  margin-left: 80px;
}
.mr-80 {
  margin-right: 80px;
}

.p-80 {
  padding: 80px;
}
.pt-80 {
  padding-top: 80px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pl-80 {
  padding-left: 80px;
}
.pr-80 {
  padding-right: 80px;
}
/* 4px */
.mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}
.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}
.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* 8px */
.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}
.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* 12px */
.mx-12 {
  margin-left: 12px;
  margin-right: 12px;
}
.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* 16px */
.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}
.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

/* 24px */
.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}
.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}
.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

/* 32px */
.mx-32 {
  margin-left: 32px;
  margin-right: 32px;
}
.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}
.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* 40px */
.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}
.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* 48px */
.mx-48 {
  margin-left: 48px;
  margin-right: 48px;
}
.my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}
.px-48 {
  padding-left: 48px;
  padding-right: 48px;
}
.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

/* 56px */
.mx-56 {
  margin-left: 56px;
  margin-right: 56px;
}
.my-56 {
  margin-top: 56px;
  margin-bottom: 56px;
}
.px-56 {
  padding-left: 56px;
  padding-right: 56px;
}
.py-56 {
  padding-top: 56px;
  padding-bottom: 56px;
}

/* 64px */
.mx-64 {
  margin-left: 64px;
  margin-right: 64px;
}
.my-64 {
  margin-top: 64px;
  margin-bottom: 64px;
}
.px-64 {
  padding-left: 64px;
  padding-right: 64px;
}
.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

/* 80px */
.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}
.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 12px;
}
.d-flex {
  display: flex;
}

/*--- grid system---*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.col-2 {
  padding: 0 12px;
  width: calc(100% / 12 * 2);
}
.col-3 {
  padding: 0 12px;
  width: calc(100% / 12 * 3);
}
.col-4 {
  padding: 0 12px;
  width: calc(100% / 12 * 4);
}
.col-5 {
  padding: 0 12px;
  width: calc(100% / 12 * 5);
}
.col-6 {
  padding: 0 12px;
  width: calc(100% / 12 * 6);
}
.col-7 {
  padding: 0 12px;
  width: calc(100% / 12 * 7);
}

.col-10 {
  padding: 0 12px;
  width: calc(100% / 12 * 10);
}
.col-12 {
  padding: 0 12px;
  width: calc(100% / 12 * 12);
}

.d-none {
  display: none;
}
.fw-500 {
  font-weight: 500;
}
.lh-12 {
  line-height: 1.2;
}

/*----btn----*/
.btn {
  border-radius: 5px;
  padding: 12px 24px;
  display: inline-block;
}

.btn_black {
  background-color: $neutral-900;
  color: white;
}
.btn_green {
  background-color: $primary-300;
}
.btn_green:hover {
  color: $primary-500;
}
.btn_black:hover {
  background-color: $neutral-700;
}
.coner_border {
  border-radius: 10px;
}
@media (max-width: 768px) {
  .d-none-md {
    display: none;
  }
  .row {
    margin: 0 -6px;
  }

  .col-md-2 {
    padding: 0 6px;
    width: calc(100% / 12 * 2);
  }
  .col-md-6 {
    padding: 0 6px;
    width: calc(100% / 12 * 6);
  }

  .col-md-12 {
    padding: 0 6px;
    width: calc(100% / 12 * 12);
  }

  .h2-md {
    font-size: 48px;
  }
  .h3-md {
    font-size: 24px;
  }
  .h4-md {
    font-size: 24px;
  }

  .h5-md {
    font-size: 20px;
    line-height: 120%;
    font-weight: bold;
  }

  .h6-md {
    font-size: 16px;
    line-height: 120%;
    font-weight: bold;
  }
  .mb-md-0 {
    margin-bottom: 0;
  }
  /* 4px */
  .m-md-4 {
    margin: 4px;
  }
  .mt-md-4 {
    margin-top: 4px;
  }
  .mb-md-4 {
    margin-bottom: 4px;
  }
  .ml-md-4 {
    margin-left: 4px;
  }
  .mr-md-4 {
    margin-right: 4px;
  }
  .mx-md-4 {
    margin-left: 4px;
    margin-right: 4px;
  }
  .my-md-4 {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .p-md-4 {
    padding: 4px;
  }
  .pt-md-4 {
    padding-top: 4px;
  }
  .pb-md-4 {
    padding-bottom: 4px;
  }
  .pl-md-4 {
    padding-left: 4px;
  }
  .pr-md-4 {
    padding-right: 4px;
  }
  .px-md-4 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .py-md-4 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .py-md-5_5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /* 8px */
  .m-md-8 {
    margin: 8px;
  }
  .mt-md-8 {
    margin-top: 8px;
  }
  .mb-md-8 {
    margin-bottom: 8px;
  }
  .ml-md-8 {
    margin-left: 8px;
  }
  .mr-md-8 {
    margin-right: 8px;
  }
  .mx-md-8 {
    margin-left: 8px;
    margin-right: 8px;
  }
  .my-md-8 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .p-md-8 {
    padding: 8px;
  }
  .pt-md-8 {
    padding-top: 8px;
  }
  .pb-md-8 {
    padding-bottom: 8px;
  }
  .pl-md-8 {
    padding-left: 8px;
  }
  .pr-md-8 {
    padding-right: 8px;
  }
  .px-md-8 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .py-md-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  /* 12px */
  .m-md-12 {
    margin: 12px;
  }
  .mt-md-12 {
    margin-top: 12px;
  }
  .mb-md-12 {
    margin-bottom: 12px;
  }
  .ml-md-12 {
    margin-left: 12px;
  }
  .mr-md-12 {
    margin-right: 12px;
  }
  .mx-md-12 {
    margin-left: 12px;
    margin-right: 12px;
  }
  .my-md-12 {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .p-md-12 {
    padding: 12px;
  }
  .pt-md-12 {
    padding-top: 12px;
  }
  .pb-md-12 {
    padding-bottom: 12px;
  }
  .pl-md-12 {
    padding-left: 12px;
  }
  .pr-md-12 {
    padding-right: 12px;
  }
  .px-md-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .py-md-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  /* 16px */
  .m-md-16 {
    margin: 16px;
  }
  .mt-md-16 {
    margin-top: 16px;
  }
  .mb-md-16 {
    margin-bottom: 16px;
  }
  .ml-md-16 {
    margin-left: 16px;
  }
  .mr-md-16 {
    margin-right: 16px;
  }
  .mx-md-16 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .my-md-16 {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .p-md-16 {
    padding: 16px;
  }
  .pt-md-16 {
    padding-top: 16px;
  }
  .pb-md-16 {
    padding-bottom: 16px;
  }
  .pl-md-16 {
    padding-left: 16px;
  }
  .pr-md-16 {
    padding-right: 16px;
  }
  .px-md-16 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .py-md-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  /* 24px */
  .m-md-24 {
    margin: 24px;
  }
  .mt-md-24 {
    margin-top: 24px;
  }
  .mb-md-24 {
    margin-bottom: 24px;
  }
  .ml-md-24 {
    margin-left: 24px;
  }
  .mr-md-24 {
    margin-right: 24px;
  }
  .mx-md-24 {
    margin-left: 24px;
    margin-right: 24px;
  }
  .my-md-24 {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .p-md-24 {
    padding: 24px;
  }
  .pt-md-24 {
    padding-top: 24px;
  }
  .pb-md-24 {
    padding-bottom: 24px;
  }
  .pl-md-24 {
    padding-left: 24px;
  }
  .pr-md-24 {
    padding-right: 24px;
  }
  .px-md-24 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .py-md-24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  /* 32px */
  .m-md-32 {
    margin: 32px;
  }
  .mt-md-32 {
    margin-top: 32px;
  }
  .mb-md-32 {
    margin-bottom: 32px;
  }
  .ml-md-32 {
    margin-left: 32px;
  }
  .mr-md-32 {
    margin-right: 32px;
  }
  .mx-md-32 {
    margin-left: 32px;
    margin-right: 32px;
  }
  .my-md-32 {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .p-md-32 {
    padding: 32px;
  }
  .pt-md-32 {
    padding-top: 32px;
  }
  .pb-md-32 {
    padding-bottom: 32px;
  }
  .pl-md-32 {
    padding-left: 32px;
  }
  .pr-md-32 {
    padding-right: 32px;
  }
  .px-md-32 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .py-md-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .py-md-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  /* 40px */
  .m-md-40 {
    margin: 40px;
  }
  .mt-md-40 {
    margin-top: 40px;
  }
  .mb-md-40 {
    margin-bottom: 40px;
  }
  .ml-md-40 {
    margin-left: 40px;
  }
  .mr-md-40 {
    margin-right: 40px;
  }
  .mx-md-40 {
    margin-left: 40px;
    margin-right: 40px;
  }
  .my-md-40 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .p-md-40 {
    padding: 40px;
  }
  .pt-md-40 {
    padding-top: 40px;
  }
  .pb-md-40 {
    padding-bottom: 40px;
  }
  .pl-md-40 {
    padding-left: 40px;
  }
  .pr-md-40 {
    padding-right: 40px;
  }
  .px-md-40 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .btn {
    border-radius: 5px;
    padding: 8px 16px;
  }
}
