<section class="footer py-64 py-md-32">
    <div class="container">
        <nav class="bottom_nav pb-24">
            <img src="../assets/images/logo.svg" alt="bottom_nav_logo" class="bottom_nav_logo">
            <ul class="bottom_nav_menu">
                <li class="bottom_nav_item mb-md-4">
                    <a href="" class="bottom_nav_link">商品列表</a>
                </li>
                 <li class="bottom_nav_item">
                    <a href="" class="bottom_nav_link">品牌故事</a>
                </li>
            </ul>
        </nav>
        <div class="footer_context pt-32">
            <p class="footer_text">Copyright ©2025 URBNSTYLE</p>
                        <p class="footer_text">All Rights Reserved.</p>

        </div>
    </div>
</section>