<div class="container">
  <nav class="nav">
    <img src="../assets/images/logo.svg" alt="logo" class="logo mr-48" />
    <ul class="nav_menu row d-none-md">
      <li class="nav_item py-12 mr-40">
        <a href="" class="nav_item_link"> 商品列表 </a>
      </li>
      <li class="nav_item py-12">
        <a href="" class="nav_item_link"> 品牌故事</a>
      </li>
    </ul>
    <div class="user">
      <i class="bi bi-person"></i>
    </div>
  
  </nav>
</div>
  <ul class="nav_menu_mobile">
         <li class="nav_item_mobile nav_item_mobile_active">
        <a href="" class="nav_item_link"> 商品列表 </a>
      </li>
      <li class="nav_item_mobile">
        <a href="" class="nav_item_link"> 品牌故事</a>
      </li>
    </ul>