<section class="pagination_section">
    <ol class="pagination_menu">
     <li class="pagination_item">
        <a href="" class="pagination_item_link ">
         <i class="bi bi-chevron-left pagination_item_disable"></i>
        </a>
     </li>
     
        <li class="pagination_item pagination_item_num  pagination_item_active
">
        <a href="" class="pagination_item_link">
            1
        </a>
     </li>
        <li class="pagination_item pagination_item_num">
        <a href="" class="pagination_item_link">
            2
        </a>
     </li>
        <li class="pagination_item pagination_item_num">
        <a href="" class="pagination_item_link">
            3
        </a>
     </li>
        <li class="pagination_item pagination_item_num">
        <a href="" class="pagination_item_link">
        ...
        </a>
     </li>
        <li class="pagination_item pagination_item_num">
      10
     </li>
      <li class="pagination_item">
        <a href="" class="pagination_item_link">
            <i class="bi bi-chevron-right"></i>

        </a>
     </li>
    </ol>
</section>