.pagination_section {
  display: flex;
  justify-content: center;
}
.pagination_menu {
  display: flex;
}
.pagination_item {
  padding: 8px 15px;
  margin-right: 8px;
}

.pagination_item_num {
  margin-right: 8px;
}
.pagination_item_num::first-of-type {
  margin-left: 12px;
}
.pagination_item_num::last-of-type {
  margin-right: 12px;
}

.pagination_item_active {
  background-color: $primary-300;
}

.pagination_item_disable {
  color: $neutral-500;
  cursor: default;
}

.pagination_item:hover {
  background-color: $neutral-100;
}

@media (max-width: 768px) {
  .pagination_item {
    padding: 6px 12px;
    margin-right: 6px;
  }

  .pagination_item_num {
    margin-right: 6px;
  }
  .pagination_item_num::first-of-type {
    margin-left: 10px;
  }
  .pagination_item_num::last-of-type {
    margin-right: 10px;
  }
}
