<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

  </head>
  <body>
    <%- include('./layout/header_index'); -%>
    <main class="main mb-48 mb-md-24">
      <section class="hero">
        <div class="hero_content hero_container">
          <h1 class="hero_title h1 h2-md white mb-16 mb-md-8">URBNSTEP</h1>
          <h2 class="hero_subtitle white mb-48 mb-md-32">
            Your Step, Your Statement
          </h2>
            <button class=" btn btn_green mt-48 mt-md-32">
          立即搶購
        </button>
        </div>
      </section>
      <section class="content_section_1 pt-64 pb-48 pt-md-40 pb-md-24 mb-48 mb-md-24">
        <div class="container">
          <section class="new_arrival_section mb-24 mb-md-16">           
              <div class="new_arrival_section_title">
                <h2 class="new_arrival_title h2 h2-md mb-12 mb-md-8">
                  New Arrival
                </h2>
                <h3 class="new_arrival_subtitle h3 h2-md mb-32 mb-md-24">
                  新品上市
                </h3>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="card">
                    <img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/new-1.png"
                      alt="new_image_1"
                      class="card_img"
                    />
                    <h3 class="card_title">Monoverse</h3>
                    <p class="card_price">NT$3,600</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/new-2.png"
                      alt="new_image_1"
                      class="card_img"
                    />
                    <h3 class="card_title">PLATFORM 404</h3>
                    <p class="card_price">NT$2,600</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/new-3.png"
                      alt="new_image_1"
                      class="card_img"
                    />
                    <h3 class="card_title">URBN Force</h3>
                    <p class="card_price">NT$3,200</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/new-4.png"
                      alt="new_image_1"
                      class="card_img"
                    />
                    <h3 class="card_title">Mode90</h3>
                    <p class="card_price">NT$4,000</p>
                  </div>
                </div>
             
              </div>            
          </section>
          <section class="best_sell_section py-64">
            <h2 class="best_sell_title h3 h4-md py-5 py-md-5_5  mb-16 ">熱銷補貨</h2>
            <ul class="best_sell_list row">
              <div class="best_sell_col col-3 ">
                <li class="best_sell_item">
                  <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-3.png" alt="best_sell_item_img" class="best_sell_item_img">
                  <label class="best_sell_item_label">人氣 No.1 </label>
                </li>
              </div>
              <div class="col-3 best_sell_col">
                <li class="best_sell_item">
                  <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product.png" alt="best_sell_item_img" class="best_sell_item_img">
                  <label class="best_sell_item_label">人氣 No.1 </label>
                </li>
              </div>
              <div class="col-3 best_sell_col">
                <li class="best_sell_item">
                  <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-6.png" alt="best_sell_item_img" class="best_sell_item_img">
                  <label class="best_sell_item_label">人氣 No.1 </label>
                </li>
              </div>
              <div class="col-3 best_sell_col">
                <li class="best_sell_item">
                  <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-4.png" alt="best_sell_item_img" class="best_sell_item_img">
                  <label class="best_sell_item_label">人氣 No.1 </label>
                </li>
              </div>
            </ul>
         
          </section>
        </div>
      </section>
      <section class="sales_banner_section mb-48 mb-md-24">
       
       <div class="sale_content">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/star.svg" alt="star" class="star_img">
        <h3 class="sale_content_title h2 mb-16">
          <span class="sale_content_title_text">
           URBNSTEP
          </span>
           <span class="sale_content_title_mark">
           x
          </span>
           <span class="sale_content_title_text">
           Kevin Chen
          </span>
        </h3>
        <h4 class="sale_content_subtitle h2 mb-32 mb-md-24">
            跨界聯名，限量發售
        </h4>
        <p class="sale_content_text">
          新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！
        </p>
        <img  class="sparkle_img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/sparkle.svg" alt="sparkle" >
        <button class=" btn btn_green mt-48 mt-md-32">
          立即搶購
        </button>
       </div>
      </section>
      <section class="series py-64 py-md-40">
        <div class="container">
                 <h2 class="series_title h3 h4-md mb-16">依系列選購</h2>
        <ul class="series_list row">
          <div class="col-3 col-md-6">
            <li class="series_item">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-6.png" alt="series_img" class="series_img">
              <div class="series_overlay">
                <div class="series_context"> 
                  <h3 class="series_title">URBN RUNNER</h3>
                <h4 class="series_subtitle">慢跑系列</h4>
              </div>
               
              </div>
            </li>
          </div>
          <div class="col-3 col-md-6">
            <li class="series_item">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/product-11.png" alt="series_img" class="series_img">
              <div class="series_overlay">
                <div class="series_context"> 
                  <h3 class="series_title">STREETMODE</h3>
                <h4 class="series_subtitle">滑板系列</h4>
              </div>
               
              </div>
            </li>
          </div>
          <div class="col-3 col-md-6">
            <li class="series_item">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-4.png" alt="series_img" class="series_img">
              <div class="series_overlay">
                <div class="series_context"> 
                  <h3 class="series_title">CHUNK DISTRICT</h3>
                <h4 class="series_subtitle">厚底系列</h4>
              </div>
               
              </div>
            </li>
          </div>
          <div class="col-3 col-md-6">
            <li class="series_item">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/product-10.png" alt="series_img" class="series_img">
              <div class="series_overlay">
                <div class="series_context"> 
                  <h3 class="series_title">COLLAB ZONE</h3>
                <h4 class="series_subtitle">聯名企劃</h4>
              </div>
               
              </div>
            </li>
          </div>
        </ul>
        </div>
      </section>
      <section class="inspiration mb-64 mb-md-40">
         <div class="container">
        <h2 class="inspiration_title h3 h4-md mb-16">穿搭靈感</h2>
         <div class="inspiration_block row inspiration-row">
        <div class="col-4 inspiration-col">
          <div class="row inspiration-row">
            <div class="col-6 inspiration-col col-md-12">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-1.png" alt="inspiration_img">
            </div>
             <div class="col-6 inspiration-col col-md-12">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-2.png" alt="inspiration_img">
            </div>
             <div class="col-12 inspiration-col col-md-12">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-3.png" alt="inspiration_img">
            </div>
          </div>
        </div>
         <div class="col-4 inspiration-col">
          <div class="row inspiration-row">
            <div class="col-6 inspiration-col col-md-12">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-4.png" alt="inspiration_img">
            </div>
             <div class="col-6 inspiration-col col-md-12">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-5.png" alt="inspiration_img">
            </div>
             <div class="col-12 inspiration-col col-md-12">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-6.png" alt="inspiration_img">
            </div>
          </div>
        </div>
         <div class="col-4 inspiration-col">
          <div class="row inspiration-row">
            <div class="col-6 inspiration-col col-md-12">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-7.png" alt="inspiration_img">
            </div>
             <div class="col-6 inspiration-col col-md-12">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-8.png" alt="inspiration_img">
            </div>
             <div class="col-12 inspiration-col col-md-12">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-9.png" alt="inspiration_img">
            </div>
          </div>
        </div>
      </div>
        </div>
     
      </section>
    </main>
          <%- include('./layout/cta'); -%>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
